.social-proof {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12.5rem;
}

.social-proof__details {
  width: calc(100% - ((2 * 16.5rem) + 12.5rem) / 2);
}

.social-proof__ratings {
  width: calc(100% - ((2 * 16.5rem) + 12.5rem) / 2);
}

@media screen and (max-width: 425px) {
  .social-proof {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3.9rem;
  }

  .social-proof__details {
    width: 100%;
    text-align: center;
  }

  .social-proof__ratings {
    width: 100%;
    text-align: center;
  }
}
